video {
    /* background-size: cover;  */
    background-position: 50% 50%;
    /* position: absolute; */
    margin: auto;
    width: 100%;
    height: 100vh;
    right: -100%;
    bottom: -100%;
    top: -100%;
    left: -100%;
    object-fit: cover;
}

main {
    height: 100vh;
}

@media only screen and (max-width: 875px) {
    header{
        background-color: rgba(0, 0, 0, 0) !important;
        position: fixed !important;
    }
}